<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- wcf client -->
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="BackgroundService_netNamedPipeBinding" hostNameComparisonMode="StrongWildcard" maxConnections="10" 
                 maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" 
                 closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" 
                 transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint name="BackgroundService" contract="MyPasswordTool.WCFService.IBackgroundService" 
                binding="netNamedPipeBinding" bindingConfiguration="BackgroundService_netNamedPipeBinding" 
                address="net.pipe://localhost/MyPasswordToolBackgroundService" />
    </client>
  </system.serviceModel>
</configuration>