<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="singleable" value="false" />
    <add key="allowsTransparency" value="false" />
    <add key="exitWaitMilliseconds" value="2000" />
    <!--<add key="testCanLoadLazy" value="false" />-->
  </appSettings>
</configuration>