<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="BackgroundService_netNamedPipeBinding" hostNameComparisonMode="StrongWildcard"
                 maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
                 closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                 transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
                 maxConnections="10" >
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint name="ServiceReference1.IBackgroundService" contract="WindowsService1.ServiceReference1.IBackgroundService"
        address="net.pipe://localhost/MyPasswordToolBackgroundService"
        binding="netNamedPipeBinding" bindingConfiguration="BackgroundService_netNamedPipeBinding"
                  />
    </client>
  </system.serviceModel>
</configuration>