<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- wcf server -->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
          <!--<serviceDebug includeExceptionDetailInFaults="false" />-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netNamedPipeBinding>
        <binding name="BackgroundService_netNamedPipeBinding" hostNameComparisonMode="StrongWildcard" 
                 maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxConnections="10" 
                 closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" 
                 transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <services>
      <service name="MyPasswordTool.Service.BackgroundService">
        <!--
        使用netNamedPipeBinding时:
            调用服务地址 net.pipe://localhost/MyPasswordToolBackgroundService
            引用服务地址 net.pipe://localhost/MyPasswordToolBackgroundService_mexnetpipe
        发布时可以把引用服务地址相关的配置注释掉，这样可以减少dll被引用
        -->
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/" />
            <add baseAddress="http://localhost:8089/MyPasswordToolBackgroundService" />
          </baseAddresses>
        </host>
        <endpoint address="MyPasswordToolBackgroundService" contract="MyPasswordTool.Service.IBackgroundService" 
                  binding="netNamedPipeBinding" bindingConfiguration="BackgroundService_netNamedPipeBinding" />
        <endpoint address="MyPasswordToolBackgroundService_mexnetpipe" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>